<div class="navbar-psy">
  <!-- Logo -->
  <a href="/" class="navbar-psy-brand">
    <h1>Ψ Cabinet de Psychologie clinique</h1>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-psy-right">
    <%= link_to 'Nous contacter', contact_path, class: 'btn btn-primary btn-navbar' %>
  </div>
</div>
