<div class="banner-pages" style="background-image: linear-gradient(to bottom, rgba(230, 229, 210, 0.8) 10%, rgba(230, 229, 210, 0.5) 100%), url(<%= image_path 'bureau.jpg'%>);">
  <h2 class="text-center">Les cliniciens</h2>
</div>

<div class="container cliniciens">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="text-center">
      <%= image_tag "cabinet1.jpg", class: "img-avatar img-circle" %>
      </div>
      <div>
      <h2 class="text-center psy-title">Corentin Méheust-Roux</h2>
      <p>J'ai effectué un cursus Complet de psychologie, débuté à Nice Pour le DEUG-1, et poursuivi à l'Université Denis Diderot, Paris 7 Jusqu'à l'obtention du Master Professionnel de Psychologie, option Somatique. Cette excellente formation, que je conseille à ceux qui souhaitent faire de la clinique, est toute portée vers la prise en compte de la réalité psychique, des remous inconscients et s'attache à apaiser la souffrance psychique.</p>

      <p>Dès la licence, les stages annuels apportent une solide base pratique aux étudiants qui par ailleurs bénéficient pour ces stages d'un séminaire hebdomadaire de supervision en petits groupes. L'enseignement, bien que très orienté par la métapsychologie n'en est que plus efficace dans la mesure où les étudiants psychologues approfondissent pendant 5 années un socle théorique constant : il n'y a pas de picorage théorique ici et là qui rende l'enseignement superficiel et inopérant.</p>

      <p>Pour éviter tout malentendu sont indiqués ci-dessous mes numéros d'identification professionnels. Mon numéro d'identification ADELI est le suivant : 14 93 0419 8, et mon activité est inscrite au registre des professions libérales sous le numéro de SIREN que voici : 495 173 247 00018.
      </p>
    </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="text-center">
        <%= image_tag "cabinet2.jpg", class: "img-avatar img-circle" %>
      </div>
      <div>

      <h2 class="text-center psy-title">Yves-Antoine Leroy</h2>
      <p>
        <ul>
          <li>Psychologue clinicien (code APE 8690-F) – accueillant des enfants, adolescents et adultes.</li>
          <li>Possibilité de cures psychanalytiques (cela dépend de votre demande).</li>
          <li>N° ADELI 149304925 – registre Agence Régionale de Santé</li>
          <li>N° SIRET 841 873 821 00018</li>
          <li>Cursus complet de psychologie, Institut de Psychologie et de Sociologie appliquées, Faculté des Sciences Humaines et Sociales, Angers, 2001-2007, Master de psychologie clinique (psychopathologie).</li>
          <li>Expérience hospitalière (CHU, Caen), en psychiatrie et dans le monde du handicap.</li>
          <li>Expérience du domicile et des établissements médico-sociaux et sanitaires (Fondation de la Miséricorde, Caen).</li>
          <li>Pratique supervisée, groupes de travail, formations complémentaires régulières.</li>
          <li>Psychanalyses personnelles.</li>
          <li>Animation de dispositifs d’analyse des pratiques professionnels.</li>
        </ul>
      </p>
      </div>
    </div>
  </div>
</div>
