<div class="banner-pages" style="background-image: linear-gradient(to bottom, rgba(230, 229, 210, 0.8) 10%, rgba(230, 229, 210, 0.5) 100%), url(<%= image_path 'bureau.jpg'%>);">
  <h2 class="text-center">Nous orienter un patient</h2>
  <h4 class="text-center"><em>Espace pour les professionnels de santé et/ou de l’accompagnement</em></h4>
</div>


<div class="container psy-container">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <p></p>
    <p class="psy-content">Nous avons conscience qu’il n’est jamais facile d’orienter une personne vers un psychologue. Notre profession véhicule des a priori puissants que nous vous proposons de démystifier :</p>
    <h3 class="text-center psy-title"><em>« Un psy, c’est pour les fous ! »</em></h3>
    <p class="psy-content">Entre autre, mais les fous n’ont pas l’exclusivité de la souffrance humaine. Tout le monde peut avoir besoin d’évoquer ce qui le préoccupe.</p>
    <h3 class="text-center psy-title"><em>« Moi, je règle mes problèmes tout seul, je n’ai besoin de personne »</em></h3>
    <p class="psy-content">Cela n’est pas incompatible. Le psychologue ne se substitue jamais au sujet qu’il reçoit. Il tente de créer l’espace nécessaire au travail de parole qui appartient avant tout au patient. Ce n’est en aucun cas un lien d’emprise.</p>
    <h3 class="text-center psy-title"><em>« C’est long, ça dure au moins 15 ou 20 ans »</em></h3>
    <p class="psy-content">Pas nécessairement, ça dure le temps nécessaire. La durée et la fréquence du travail s’établissent toujours d’un commun accord avec le psychologue. Il peut y avoir des soutiens brefs.</p>
    <h3 class="text-center psy-title"><em>« Il faut raconter sa vie, se mettre à nu : ça fait souffrir »</em></h3>
    <p class="psy-content">Ce n’est pas la règle du travail avec un psychologue. Il s’agit plutôt de parler de ce qui se présente de manière spontanée, de mettre en lumière cette découverte consciente et inconsciente de la parole du sujet. Même s’il est souvent question de son histoire, l’idée n’est pas de remuer le passé. S’il émerge, c’est le choix du sujet qui parle et il a sans doute ses raisons, en venant réactualiser son histoire dans le temps de la rencontre.</p>
    <h3 class="text-center psy-title"><em>« Consulter, c’est un signe de faiblesse »</em></h3>
    <p class="psy-content">Consulter un psy ne dit rien de la force ou de la faiblesse de la personne accueillie. L’expérience montre au contraire que la prise de conscience de ses failles peut aider le sujet à continuer à tracer sa route.</p>
    <h3 class="text-center psy-title"><em>« Un psy ne parle pas donc ça ne peut pas aider »</em></h3>
    <p class="psy-content">Un psychologue n’est pas silencieux. Il part de la parole du sujet - en étant suffisamment présent et parlant - afin de faire entendre au patient ce qu’il se dit. Son éthique lui fait aussi prendre position sur des points cruciaux.</p>
    <h3 class="text-center psy-title"><em>« Parler, ça ne change rien... »</em></h3>
    <p class="psy-content">Notre pratique nous démontre quotidiennement au contraire la matérialité de la parole dans ses effets négatifs comme positifs. Il y a donc bien une efficience dans un travail de parole, si le sujet accepte de s’y engager.</p>
    <p class="psy-content">L’orientation vers un psychologue se fait dans le prolongement du lien que vous avez avec la personne orientée et jamais dans une substitution à votre propre suivi.
    Même si un patient refuse cette orientation, n’hésitez pas à <%= link_to "nous contacter", contact_path %> afin que nous puissions réfléchir ensemble sur cette situation en partant de vos préoccupations. Les résistances à une orientation sont aussi parfois à entendre dans le temps, comme un processus qui peut mener chez le psychologue, en essayant de repérer ce qui les origine (représentations, mauvaises expériences, mécanismes de défense du sujet, mauvaise temporalité...). Nous pouvons compagnonner sur ces points épineux !</p>
  </div>
  <div class="col-xs-12 text-center contact-us">
    <%= link_to 'Nous contacter', contact_path, class: 'btn btn-primary' %>
  </div>
</div>
