<div class="banner-pages" style="background-image: linear-gradient(to bottom, rgba(230, 229, 210, 0.8) 10%, rgba(230, 229, 210, 0.5) 100%), url(<%= image_path 'bureau.jpg'%>);">
  <h2 class="text-center">Pratiques professionnelles</h2>
</div>

<div class="container psy-container">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <h3 class="text-center psy-title"><em>Espace individuel de supervision</em></h3>
    <p class="psy-content">La supervision n’est pas une super-vision (qui laisserait entendre que le psychologue entendant la pratique de l’autre aurait une vision en plus que le sujet engagé dans son acte professionnel). L’origine latine super videre nous éclaire : « prendre de la hauteur pour y voir un peu plus clair ». Il s’agit de venir trouver un espace de parole sur les points sensibles de sa pratique. Très concrètement, cela peut prendre la forme d’une ou de plusieurs rencontres mensuelles au cabinet afin de parler de ce qui est à l’œuvre dans son acte de travail et son ancrage dans le système et l’organisation dans lequel il est pris. Nous ne pouvons faire l’impasse de l’intime de cet acte, laissant entendre que le travail est aussi un éprouvé, qui peut aussi angoissé, faire souffrir, épuiser (burn-out)...
    </p>
    <h3 class="text-center psy-title"><em>Espace collectif d’analyse des pratiques et de régulation</em></h3>
    <p class="psy-content">Ce même dispositif peut aussi s’entendre dans un espace groupal de parole où chaque participant peut travailler l’expérience de l’autre, enrichissant de ce fait sa propre expérience professionnelle. Cela peut s’organiser de manière mensuelle ou bimestrielle avec les personnes d’une même organisation ou dans un mélange hétérogène des lieux de travail et des secteurs d’activité. Le lieu des rencontres peut se faire au cabinet (petit groupe), en lieu neutre ou dans l’organisation en question.
    </p>
    <h3 class="text-center psy-title"><em>La supervision en institution</em></h3>
    <p class="psy-content">La mise en place du dispositif peut être la démarche d’une institution qui le plus souvent par l’intermédiaire de sa direction veut mettre en place ce travail. Après un temps d’analyse de la demande, de choix du dispositif, et d’une contractualisation des conditions d’intervention, le psychologue « superviseur » peut se déplacer « dans les murs » à un rythme défini.
    </p>
    <h3 class="text-center psy-title"><em>Groupe de Co-analyse de Situations Complexes pour les professions paramédicales et médicales</em></h3>
    <p class="psy-content">Nous pouvons proposer aussi un dispositif transdisciplinaire qui peut à la fois limiter les défenses attaquant ce dispositif (difficultés à prendre la parole) et être plus opérant dans certains cas. Nous ne sommes plus dans une ère soignante où le seul silence du "psy" peut être une invitation à la parole - surtout dans un groupe. Non seulement le "psy" doit s'engager lui aussi dans une parole, mais il doit savoir s'entourer de soignants qui ont la légitimité et le regard aiguisé par le soin quotidien. Nous vous proposons alors des dispositifs en binôme infirmier- psychologue afin d’aborder de manière transdisciplinaire les situations complexes de vos pratiques (à partir d’un cas ou de thématiques). Des médiations peuvent aussi être proposées comme un support à la parole (écriture de situations cliniques, jeux de rôles, théâtre-forum, photolangage...).
    </p>
  </div>
  <div class="col-xs-12 text-center contact-us">
    <%= link_to 'Nous contacter', contact_path, class: 'btn btn-primary' %>
  </div>
</div>
