<div class="banner-pages" style="background-image: linear-gradient(to bottom, rgba(230, 229, 210, 0.8) 10%, rgba(230, 229, 210, 0.5) 100%), url(<%= image_path 'bureau.jpg'%>);">
  <h2 class="text-center">Vous cherchez un psy ?</h2>
</div>

<div class="container psy-container">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <h3 class="text-center psy-title"><em>Qu’est ce qui peut vous amener chez un psychologue?</em></h3>
    <p class="psy-content">
      Les difficultés qui vous amènent peuvent être variées (sans forcément être pathologique). Le vrai point de départ est un besoin de parler, de mettre des mots sur une préoccupation actuelle. Il n’est pas rare que de venir en parler à un professionnel de l’écoute – extérieur à votre entourage – devienne une nécessité de par la souffrance générée. Cela peut être des angoisses, des affects dépressifs, un épuisement professionnel, des difficultés familiales, des problèmes de couple...
    </p>
    <h3 class="text-center psy-title"><em>Qu’est-ce qu’un psychologue peut vous proposer?</em></h3>
    <p class="psy-content">
      Nous vous proposons un espace de parole et d’expression autour de la question ou de la difficulté qui vous amène. Cela peut prendre la forme d’un ou de plusieurs entretiens d’accueil. Dans ces derniers, nous entendons et analysons avec vous la spécificité de votre demande, en établissant ensemble, avec souplesse, le cadre et le rythme de nos futures rencontres. Parfois, quelques entretiens peuvent suffire, sans nécessairement entamer un suivi régulier.
      Quand la parole est compliquée (pour des raisons d’âge, de handicap, ou de personnalité), nous pouvons être amené à utiliser des moyens alternatifs qui respectent cette difficulté de mise en mots (utilisation du dessin, du jeu, d’images qui stimulent les projections, de musique...).
    </p>
    <h3 class="text-center psy-title"><em>Qu’est-ce qu’un psychologue?</em></h3>
    <p class="psy-content">
      Le métier de psychologue est une activité libérale réglementée, qui engage un diplôme de Master 2 de psychologie à l’Université. (cinq années d’études minimum) Nous sommes inscrits tous les deux sur le registre ADELI consultable à l’Agence Régionale de Santé (Cf. fiche personnel). Nous nous devons de respecter notre <a href="http://www.codededeontologiedespsychologues.fr/LE-CODE.html" target="_blank">code de déontologie</a>. Le psychologue a « l’obligation d’actualiser ses connaissances » théoriques et de la mise en relecture de sa pratique. Ces éléments de formation, qui garantissent une écoute de qualité et une efficacité du processus thérapeutique, sont donc prises en considération dans le prix de ses séances. Le psychologue se distingue :
      <ul>
        <li>du psychiatre qui est un médecin spécialiste des troubles mentaux graves et qui peut, à ce titre, prescrire des traitements médicamenteux,</li>
        <li>du psychothérapeute qui soigne des personnes souffrant de troubles psychologiques, sociaux et psychosomatiques, qui peut être ni psychologue, ni psychiatre, au moyen dune ou de plusieurs techniques (titre protégé garantissant un minimum de formation théorique et pratique; 300h de chaque). Exemple : hypnose, relaxation, EMDR...</li>
        <li>du psychanalyste (qui est un titre et une activité non-réglementée) ayant suivi une formation personnelle et spécifique en psychanalyse (pratique et théorie).</li>
      </ul>
    </p>
  </div>
  <div class="col-xs-12 text-center contact-us">
    <%= link_to 'Nous contacter', contact_path, class: 'btn btn-primary' %>
  </div>
</div>
