.footer {
  bottom: 0;
  width: 100%;
  background: $gray-psy;
  padding: 0px 40px 20px 40px;
  color: $beige-psy;
  h2 {
    margin:0;
    a{
      font-size: 17px;
      text-decoration:none;
      @media(max-width: 720px) {
        font-size: 16px;
      }
    }
  }
  h4 {
    a {
      font-size: 15px;
      @media(max-width: 720px) {
        font-size: 13px;
      }
    }
  }
  a {
    color: $beige-psy;
    @media(max-width: 720px) {
        font-size: 13px;
      }
  }
  @media(max-width: 720px) {
        padding: 0px 20px 10px 20px;
      }
}


.footer-cliniciens {
  padding: 0;
  display:flex;
  flex-direction: column;
  align-items: flex-end
}

.footer-names {
  display:flex;
  margin-top: 10px;
  h2, h4 {
    margin: 0;
  }
}

.footer-name {
  padding: 0;
  margin-right: 20px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  h2, h4 {
    margin: 0;
  }

}

