/* Main navbar */
.navbar-psy {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  position: absolute;
  width: 100%;
  z-index: 1;
  background-color : rgba(230, 229, 210, 0.5);
  height: 80px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    &:hover {
      color: $blue;
      text-decoration: none;
    }
  }
}

/* Logo */
.navbar-psy-brand {
  h1 {
    margin: 0 0 0;
    font-size: 20px;
    color: #7C7D77;
    text-decoration: none;
    }
}

.btn-navbar {
 &:hover {
  background-color: white;
 }
}

/* Right section */
.navbar-psy-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
